.infoCont {
    display: flex;
    flex-direction: row;
    /* background-color: purple; */
    gap: 19px;
    justify-content: space-between;
    /* background-color: purple; */
}

.back1 {
    border-radius: 6px;
    background: linear-gradient(180deg, #FD953A 0%, #FF7C1B 100%);
    /* Shadows/Gray Blue 30/3%/5b */
    box-shadow: 0px 4px 5px 0px rgba(38, 51, 77, 0.3);

}

.back2 {
    border-radius: 6px;
    background: linear-gradient(180deg, #045097 0%, #60B8EE 100%);
    /* Shadows/Gray Blue 30/3%/5b */
    box-shadow: 0px 4px 5px 0px rgba(38, 51, 77, 0.3);
}

.back3 {
    border-radius: 6px;
    background: linear-gradient(180deg, #2FCD08 0%, #499F5B 100%);
    /* Shadows/Gray Blue 30/3%/5b */
    box-shadow: 0px 4px 5px 0px rgba(38, 51, 77, 0.3);
}

.info {
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    min-width: 230px;
    
    flex: 1;
}

.infoImg {
    width: 79px;
    /* background-color: yellow; */
}

.infoText {
    /* background-color: blue; */
    text-align: right;

    color: #FFF;
    text-align: right;

    /* Windows/Body/Lead */
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.big {
    color: #FFF;
    text-align: right;

    /* Windows/Header/H3 */
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
    /* 129.231% */
}